util/BigTool/Assembly-CSharp-Editor-vs.csproj
util/BigTool/Assembly-CSharp-Editor.csproj
util/BigTool/Assembly-CSharp-vs.csproj
util/BigTool/Assembly-CSharp.csproj
util/BigTool/Tools-csharp.sln
util/BigTool/Tools.sln
util/BigTool/Tools.userprefs
util/BigTool/BigTool.sln
util/BigTool/BigTool.userprefs
util/BigTool/BigTool-csharp.sln
util/BigTool/Library
build/out
util/BigTool/Temp
projects/*.sublime-workspace
src/platform/amiga/amiga_lib/not_fixed_yet